@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13.7%;
    --muted: 0 0% 92.2%;
    --muted-foreground: 0 0% 27.8%;
    --border: 0 0% 86.7%;
    --primary: 358 58% 31%;
    --primary-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --ring: 358 58% 31%;
  }

  body {
    @apply bg-[#EBEBEB] text-[#231F20] antialiased;
  }

  ::selection {
    background: #7a2123;
    color: #ffffff;
  }
}
